@using CanBeYours.Application.Dtos.DemoThings
@using CanBeYours.Core.Domain.DemoThings

<EditForm Model="SearchDemoThingsInputDto" OnSubmit="HandleSearchDemoThings" class="row gy-2 gx-3 align-items-center">

    <div class="col-6 col-sm-3">
        <a class="btn d-block f-sm btn-success" @onclick="@(() => ModalService.Show<CreateDemoThing>(AdminPanelLocalizer[AdminPanelResource.CreateDemoThing], new ModalOptions { Class="blazored-modal width-xs-90 width-md-50"}))">
            @AdminPanelLocalizer[AdminPanelResource.CreateDemoThing]
        </a>
    </div>

    <div class="col-6 col-sm-3">
        <InputText @bind-Value="SearchDemoThingsInputDto.Term" placeholder="..." class="form-control f-sm"></InputText>
    </div>


    <div class="col-6 col-sm-3">
        <InputSelect @bind-Value="SearchDemoThingsInputDto.Type" class="form-control f-sm form-select">
            <option value="" selected> @SharedLocalizer[SharedResource.DemoThingType_All]</option>
            @foreach (Enum item in Enum.GetValues(typeof(DemoThingType)))
            {
                <option value="@item">@item.GetEnumDisplayName()</option>
            }
        </InputSelect>
    </div>

    <div class="col-6 col-sm-3 d-flex align-items-center">
        <button type="submit" class="btn f-sm btn-primary me-2 w-100">@CoreLocalizer[CoreResource.Search]</button>

        <a class="btn f-sm btn-outline-dark me-2" data-bs-toggle="collapse" href="#more-filters" role="button" aria-expanded="false" aria-controls="more-filters">
            <i class="bi bi-filter"></i>
        </a>
    </div>

    <div class="collapse container mb-1 mt-2" id="more-filters">
        <div class="row">

            <div class="col-6 col-sm-3">
                <label class="f-sm text-secondary">
                    @CoreLocalizer[CoreResource.From_Date]:
                </label>
                <InputDate @bind-Value="SearchDemoThingsInputDto.FromDateTime" class="form-control f-sm"></InputDate>
            </div>

            <div class="col-6 col-sm-3">
                <label class="f-sm text-secondary">
                    @CoreLocalizer[CoreResource.To_Date]:
                </label>
                <InputDate @bind-Value="SearchDemoThingsInputDto.ToDateTime" class="form-control f-sm"> </InputDate>

            </div>

            <div class="col-6 col-sm-3">
                <label class="f-sm text-secondary">
                    @CoreLocalizer[CoreResource.SortOrder]:
                </label>
                <InputSelect @bind-Value="SearchDemoThingsInputDto.SortOrder" class="form-control f-sm form-select">
                    @foreach (Enum item in Enum.GetValues(typeof(SortOrder)))
                    {
                        <option value="@item">@item.GetEnumDisplayName()</option>
                    }
                </InputSelect>
            </div>

        </div>
    </div>


</EditForm>

@code {
    protected SearchDemoThingsInputDto SearchDemoThingsInputDto = new();

    [Parameter]
    public EventCallback<SearchDemoThingsInputDto> SearchChangedCallback { get; set; }

    protected virtual async Task HandleSearchDemoThings()
    {
        SearchDemoThingsInputDto.PageNumber = 1;
        await SearchChangedCallback.InvokeAsync(SearchDemoThingsInputDto);
    }
} 