@page "/"
@namespace CanBeYours.WebApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CodeBlock.DevKit.Contracts.Models
@using CodeBlock.DevKit.Web.Blazor.Server.Components
@using CodeBlock.DevKit.Web.Localization
@using Microsoft.AspNetCore.Components.Web
@inject LocalizationSettings LocalizationSettings
@inject ApplicationSettings ApplicationSettings
@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="@LocalizationSettings.GetCurrentLanguageDirection()" lang="@LocalizationSettings.GetCurrentLanguageCode()" style="font-family: @LocalizationSettings.GetCurrentLanguageFont() !important">

<head>
    <component type="typeof(HeadTags)" render-mode="ServerPrerendered" />
    <meta name="description" content="@ApplicationSettings.Localized.Description">
    <base href="~/" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body style="background-color:#362e6f; font-family: @LocalizationSettings.GetCurrentLanguageFont() !important;">

    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="js/cb.webapp.spa.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>